* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: sans-serif;
}
header {
  background-color: indianred;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header i {
  color: white;
  font-size: 30px;
  padding: 0 10px;
}
header a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
}
.wrapper {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 25px;
}
input {
  width: 60%;
  height: 45px;
  margin-bottom: 20px;
  padding: 15px 5px;
  color: black;
  font-size: 22px;
}
.submit {
  text-align: center;
  width: 60%;
  height: 45px;
  color: white;
  font-size: 18px;
  background-color: #333;
  cursor: pointer;
}
.submit:hover {
  background-color: black;
}
.clear {
  text-align: center;
  width: 60%;
  height: 35px;
  color: black;
  font-size: 16px;
  background-color: rgb(219, 217, 217);
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 25px;
}
ul div {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin-top: 15px;
  font-size: 23px;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.more {
  padding: 5px;
  color: white;
  background-color: black;
  margin-top: 10px;
  cursor: pointer;
}
